.banner {
  color: white;
  text-align: center;
  height: 89vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}


.banner h1 {
  font-size: 100px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
  font-family: "Shadows Into Light";

}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-top: -10px;
  margin-bottom: 30px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  position: relative;
}
#video {
  position: absolute;
  margin: auto 0;
  // top: 70px;
  max-width: 100%;
  max-height: 90%;
  z-index: -1;
}
