
.main-container {
  display: flex;
  h1 {
  text-align: center;
  border: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: black;
  }
}
#list {
  flex: 0 0 200px;
  height: 100%;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  border: solid;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  border-right: 2px;
  font-size: 20px;
  margin-right: 20px;
  background-color: #fafafa;
  color: black;


  a {
    color: black;
    padding: 4px;

    margin-left: 0px;

  }

  a:hover {
    color: grey;
    text-decoration: none;

  }
  h5 {
    font-size: 20px;
    margin-left: 15px;
  }

  h3 {
    text-align: left;
    margin-left: 4px;
    font-size: 25px;
    color: #19647e;
  }

  ul {
    list-style-type:none;
  }
}

#video-index{
  margin: 0;

}
.card-container {
  flex-grow: 1;
}


.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 25px;
  border: solid;
  border-color: black;
  border-radius: 0 0 4px 4px;
  border:0;
  box-shadow: 2px 2px 4px black;
}

.videos-title {
  padding: 2px;
  background-color: black;
  opacity: 0.9;
  font-size: 13px;
  color: rgba(white, 2);
  border-radius: 4px 4px 0 0;
  border-bottom:0;
  box-shadow: 2px 2px 4px black;


}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 80%;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  padding: 5px;
  background-color: black;
  border-radius: 4px;

}
.card-description {
  position: absolute;
  left: 80%;
  bottom: 5%;
  font-size: 40px;
  a {
    color: white;
  }
  &:hover {
    text-decoration: none;
    color: red;
  }
}




.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.lock {
  position: absolute;
  left: 77%;
  bottom: 18%;
}

.card-outline {
  position: relative;
}

.locked-card {
  opacity: 0.5;
  filter: grayscale(100%);
}

.popup {
    z-index: 3;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
  position: fixed;
    z-index: 3;
    visibility: hidden;
    margin: 0 auto;
    width: 300px;
    background-color: #fff;
    color: #444;
    text-align: center;
    border-radius: 6px;
    padding: 20px;
}

.popup .popuptext::after {
    position: absolute;
    color: #ccc;
    top: 20px;
    right: 15px;
    content: "X";
    font-weight: bold;
    margin: 0 auto;
    border-radius: 50%;
    border: 0px solid #ccc;
    width: 30px;
    height: 30px;
}

.popup .show {
  position: fixed;
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
