<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= @user.email %> <br>


<%= link_to "See my progress", root_path, class: "btn btn-primary" %> <br>
<br>
<%= link_to "go back", root_path, class: "btn btn-primary" %>




