<div class="footer">
  <div class="footer-links">

    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
  </div>
  <div class="footer-powered">
    <ol class="hidden-xs">Sponsored by Le Wagon <%= image_tag "logo-wagon.png", height: 25 %> </ol>
  </div>
  <div class="footer-copyright">
    <ul>
    <ol>Miranda <i class="fas fa-registered"></i></ol>
  </ul>
  </div>
</div>



