<div class="banner" >
  <video id="video" loop muted autoplay>
   <source src=https://res.cloudinary.com/fdipersia/video/upload/v1542835972/banner2.mp4 type=video/webm>
   </video>
   <div class="banner-content">
    <h1>Miranda</h1>
    <p>Watch and learn</p>
    <% if user_signed_in? %>
    <% else %>
      <%= link_to "Sign in", new_user_registration_path, class: "btn btn-success btn-lg" %>
    <% end %>
  </div>
</div>



