<% title "500 Error" %>
<div id="particles-js"></div>
<div class="errors">
  <div>
    <h1>
      <% if user_signed_in? %>
      Breaking our page <%= current_user.first_name %>??
      <% else %>
      You are not even logged in and already breaking things...
      <% end %>
      <% christmas = Date.new(2018, 12, 25) %>  
      <% days = christmas - Date.today %>
      Don't worry it's only <%= days.to_i %> days for Christmas
    </h1>
  </div>
</div>
