<% title "404 Not Found" %>
<div id="particles-js"></div>
<div class="errors">
  <!-- <div class="row"> -->
    <!-- <div class="col-xs-10 col-xs-offset-1 text-center"> -->
      <h1>404 error</h1>
      <p>Making something disappear is easy, making it reappear is the hard part. Are you sure your page isn't this page?
      Really?</p>
      <%= image_tag "merlinCortado.jpg" %>
      <p>Fine. Sorry, we lost your page.</p>
      <% christmas = Date.new(2018, 12, 25) %>  
          <% days = christmas - Date.today %>
          <p>Don't be sad in only <%= days.to_i %> days it will be Christmas</p>
              
      <%= link_to "Take me home", root_path, class: "btn btn-danger btn-lg" %>  
    <!-- </div> -->
  <!-- </div> -->
</div>