#leaderboard {
    margin-top: 20px;
  th {
    text-align: center;
  }
  td {
    vertical-align: middle;
  }
  tbody td{
    padding-left: 70px;
  }
  tbody tr:hover {
    color: $my-blue;
  }
}

#middle-column{
  text-align: left;
  padding-left: 100px;
  img {
    border-radius: 50%;
    margin-right: 15px;
  }
}